### Git
hello = "hello"

In [7]:
"""
Our main agenda is to upload/push to Github

Steps before pushing
- git is initialised
     git init
-Stage our changes
   git add <argument>
   eg git add robot.ipynb

   #track all the file
   git add . 

-Taking the snashot with a label
   git commit -m 'First Commit'

-Uploading to GitHub
   internet must be present
    git push origin  <name of your branch>


git add remote origin <url>

 

"""

"\nOur main agenda is to upload/push to Github\n\nSteps before pushing\n- git is initialised\n     git init\n-Stage our changes\n   git add <argument>\n   eg git add robot.ipynb\n\n   #track all the file\n   git add . \n\n-Taking the snashot with a label\n   git commit -m 'First Commit'\n\n-Uploading to GitHub\n   internet must be present\n    git push origin  <name of your branch>\n\n\ngit add remote origin <url>\n\n \n\n"

### Python File I/O
Python's built in ways to opening/loading files. (Input and Output).

**open()** is the dedicated function in python to load files

...
Syntax:

open(filename, mode)
```

**Mode**
* `r` ---> read only
* 'W' ---> write only(If file exissts its overwritten else if not )
* 'r+' ---> read and write
* 'a' ----> append only(going to write new data at the end of the file without erasing existing)

In [8]:
#this is how we usually open our csv
import pandas as pd

pd.read_csv('./sample.csv').head()

   Amsterdam  Berlin  Copenhagen  Durban  Eldoret
0        100     266          34      44     5267
1        122     256           3      44      578
2        131     234          36      47       52

In [9]:
import pandas as pd

pd.read_csv('./sample.csv').head()

   Amsterdam  Berlin  Copenhagen  Durban  Eldoret
0        100     266          34      44     5267
1        122     256           3      44      578
2        131     234          36      47       52

## 'with'

This automatically opens and closes the file when using the open() function.

In [10]:
with open ('sample.csv','r') as f:
     print(f.read())

Amsterdam,Berlin,Copenhagen,Durban,Eldoret
100,266,34,44,5267
122,256,3,44,578
131,234,36,47,52

In [11]:
import csv
test = []
with open ('sample.csv') as f:
    reader = csv.DictReader(f)
    #used 
    #print(next(reader))
    
    
    #
    for row in reader:
        test.append(row)
        print(row['Amsterdam'],row['Berlin'])

100 266
122 256
131 234

Create a new file and write to it

In [12]:
with open('cities.txt','w') as f:
    f.write('Dallas| Berlin |Copenhagen')

In [13]:
with open('cities.txt','w') as f:
    f.write('Dallas| London |Cairo')

In [14]:
test[0:2]

[{'Amsterdam': '100',
  'Berlin': '266',
  'Copenhagen': '34',
  'Durban': '44',
  'Eldoret': '5267'},
 {'Amsterdam': '122',
  'Berlin': '256',
  'Copenhagen': '3',
  'Durban': '44',
  'Eldoret': '578'}]

### JSON

JSON is Javascript Object Notation

In [29]:
#use the library
#this is the best for loading all json datatype
import json
#with open to load the json file
with open('playlist.json','r') as f:
          data = json.load(f)

data['playlist_name']
data

{'playlist_name': 'My_Jams',
 'created_by': 'Chacha',
 'tracks': [{'title': 'Stan',
   'artist': 'Eminem',
   'album': 'The Marshall Mathers LP',
   'duration_sec': 405},
  {'title': 'In Da Club',
   'artist': '50 Cent',
   'album': 'Get Rich or Die Tryin',
   'duration_sec': 240},
  {'title': 'Suzanna',
   'artist': 'Sauti Sol',
   'album': 'Midnight Train',
   'duration_sec': 239},
  {'title': 'Many Men',
   'artist': '50 Cent',
   'album': 'Get Rich or Die Tryin',
   'duration_sec': 256},
  {'title': 'Bad Liar',
   'artist': 'Imagine Dragons',
   'album': 'Origins',
   'duration_sec': 243}]}

In [30]:
data['tracks']

[{'title': 'Stan',
  'artist': 'Eminem',
  'album': 'The Marshall Mathers LP',
  'duration_sec': 405},
 {'title': 'In Da Club',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 240},
 {'title': 'Suzanna',
  'artist': 'Sauti Sol',
  'album': 'Midnight Train',
  'duration_sec': 239},
 {'title': 'Many Men',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 256},
 {'title': 'Bad Liar',
  'artist': 'Imagine Dragons',
  'album': 'Origins',
  'duration_sec': 243}]

In [31]:
#with open to load the jso file

with open('playlist.json','r') as f:
    data = json.load(f)
    

data

{'playlist_name': 'My_Jams',
 'created_by': 'Chacha',
 'tracks': [{'title': 'Stan',
   'artist': 'Eminem',
   'album': 'The Marshall Mathers LP',
   'duration_sec': 405},
  {'title': 'In Da Club',
   'artist': '50 Cent',
   'album': 'Get Rich or Die Tryin',
   'duration_sec': 240},
  {'title': 'Suzanna',
   'artist': 'Sauti Sol',
   'album': 'Midnight Train',
   'duration_sec': 239},
  {'title': 'Many Men',
   'artist': '50 Cent',
   'album': 'Get Rich or Die Tryin',
   'duration_sec': 256},
  {'title': 'Bad Liar',
   'artist': 'Imagine Dragons',
   'album': 'Origins',
   'duration_sec': 243}]}

In [ ]:
#not recommended bcoz everything will become a string
with open('playlist.json','r') as f:
    #this will load data as a string
    dt = f.read()
dt

'{\n  "playlist_name": "My_Jams",\n  "created_by": "Chacha",\n  "tracks": [\n    {\n      "title": "Stan",\n      "artist": "Eminem",\n      "album": "The Marshall Mathers LP",\n      "duration_sec": 405\n    },\n    {\n      "title": "In Da Club",\n      "artist": "50 Cent",\n      "album": "Get Rich or Die Tryin",\n      "duration_sec": 240\n    },\n    {\n      "title": "Suzanna",\n      "artist": "Sauti Sol",\n      "album": "Midnight Train",\n      "duration_sec": 239\n    },\n    {\n      "title": "Many Men",\n      "artist": "50 Cent",\n      "album": "Get Rich or Die Tryin",\n      "duration_sec": 256\n    },\n    {\n      "title": "Bad Liar",\n      "artist": "Imagine Dragons",\n      "album": "Origins",\n      "duration_sec": 243\n    }\n  ]\n}\n'

In [35]:
type(dt)

str

In [36]:
type(data)

dict

## Exploring JSON

Now that we've loaded it lets check what is held withn it

In [37]:
data.items()

dict_items([('playlist_name', 'My_Jams'), ('created_by', 'Chacha'), ('tracks', [{'title': 'Stan', 'artist': 'Eminem', 'album': 'The Marshall Mathers LP', 'duration_sec': 405}, {'title': 'In Da Club', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 240}, {'title': 'Suzanna', 'artist': 'Sauti Sol', 'album': 'Midnight Train', 'duration_sec': 239}, {'title': 'Many Men', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 256}, {'title': 'Bad Liar', 'artist': 'Imagine Dragons', 'album': 'Origins', 'duration_sec': 243}])])

In [38]:
data.values()

dict_values(['My_Jams', 'Chacha', [{'title': 'Stan', 'artist': 'Eminem', 'album': 'The Marshall Mathers LP', 'duration_sec': 405}, {'title': 'In Da Club', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 240}, {'title': 'Suzanna', 'artist': 'Sauti Sol', 'album': 'Midnight Train', 'duration_sec': 239}, {'title': 'Many Men', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 256}, {'title': 'Bad Liar', 'artist': 'Imagine Dragons', 'album': 'Origins', 'duration_sec': 243}]])

In [44]:
#accessing the third song
data['tracks'][2]['title']

'Suzanna'

In [45]:
data['tracks']

[{'title': 'Stan',
  'artist': 'Eminem',
  'album': 'The Marshall Mathers LP',
  'duration_sec': 405},
 {'title': 'In Da Club',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 240},
 {'title': 'Suzanna',
  'artist': 'Sauti Sol',
  'album': 'Midnight Train',
  'duration_sec': 239},
 {'title': 'Many Men',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 256},
 {'title': 'Bad Liar',
  'artist': 'Imagine Dragons',
  'album': 'Origins',
  'duration_sec': 243}]

In [ ]:
data['tracks'][-1]['album']

'Origins'

In [111]:
list(data['tracks'][0].keys())

['title', 'artist', 'album', 'duration_sec']

## Transforming JSON Schema
Here we want to transform JSON into a flatter structure, which we can use for analysis

In [53]:
"""
Load the JSON File,
iterave over the tracks and create a new list from the data points
'artist':['Eminem','50 Cent','Sauti Sol','50 Cent','Imagine Dragonn']
"""
tracks = data['tracks']

tracks

[{'title': 'Stan',
  'artist': 'Eminem',
  'album': 'The Marshall Mathers LP',
  'duration_sec': 405},
 {'title': 'In Da Club',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 240},
 {'title': 'Suzanna',
  'artist': 'Sauti Sol',
  'album': 'Midnight Train',
  'duration_sec': 239},
 {'title': 'Many Men',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 256},
 {'title': 'Bad Liar',
  'artist': 'Imagine Dragons',
  'album': 'Origins',
  'duration_sec': 243}]

In [67]:
import pandas as pd
#using pandas to make it a csv
with open('playlist.json','r') as f:
    playlist = json.load(f)
df = pd.DataFrame(playlist['tracks'])
df.head()
#df.to_csv('tracks.csv',index=False)

        title           artist                    album  duration_sec
0        Stan           Eminem  The Marshall Mathers LP           405
1  In Da Club          50 Cent    Get Rich or Die Tryin           240
2     Suzanna        Sauti Sol           Midnight Train           239
3    Many Men          50 Cent    Get Rich or Die Tryin           256
4    Bad Liar  Imagine Dragons                  Origins           243

In [76]:
df.describe()

       duration_sec
count      5.000000
mean     276.600000
std       72.099237
min      239.000000
25%      240.000000
50%      243.000000
75%      256.000000
max      405.000000

In [114]:
flattened_tracks = []

for track in tracks:
    flattened_tracks.append(
        {
        'TITLE':track['title'],
        'ARTIST':track['artist'],
        #'ALBUM':track['album'],
        #'LENGTH OF SONG':track['duration_sec'],
        'LENGTH IN MIN':round(track['duration_sec']/60,2)
        }
        )
    
df2 = pd.DataFrame(flattened_tracks)
df2.head()

        TITLE           ARTIST  LENGTH IN MIN
0        Stan           Eminem           6.75
1  In Da Club          50 Cent           4.00
2     Suzanna        Sauti Sol           3.98
3    Many Men          50 Cent           4.27
4    Bad Liar  Imagine Dragons           4.05

In [84]:
flattened_tracks

[{'TITLE': 'Stan', 'ARTIST': 'Eminem', 'LENGTH IN MIN': 6.75},
 {'TITLE': 'In Da Club', 'ARTIST': '50 Cent', 'LENGTH IN MIN': 4.0},
 {'TITLE': 'Suzanna', 'ARTIST': 'Sauti Sol', 'LENGTH IN MIN': 3.98},
 {'TITLE': 'Many Men', 'ARTIST': '50 Cent', 'LENGTH IN MIN': 4.27},
 {'TITLE': 'Bad Liar', 'ARTIST': 'Imagine Dragons', 'LENGTH IN MIN': 4.05}]

In [115]:
import pandas as pd

pd.DataFrame(flattened_tracks).head()

        TITLE           ARTIST  LENGTH IN MIN
0        Stan           Eminem           6.75
1  In Da Club          50 Cent           4.00
2     Suzanna        Sauti Sol           3.98
3    Many Men          50 Cent           4.27
4    Bad Liar  Imagine Dragons           4.05

In [ ]:
#not liable
pd.read_json('playlist.json').head()

  playlist_name created_by                                             tracks
0       My_Jams     Chacha  {'title': 'Stan', 'artist': 'Eminem', 'album':...
1       My_Jams     Chacha  {'title': 'In Da Club', 'artist': '50 Cent', '...
2       My_Jams     Chacha  {'title': 'Suzanna', 'artist': 'Sauti Sol', 'a...
3       My_Jams     Chacha  {'title': 'Many Men', 'artist': '50 Cent', 'al...
4       My_Jams     Chacha  {'title': 'Bad Liar', 'artist': 'Imagine Drago...

In [120]:
#libraries
import json
import csv

#loading the json file
with open('playlist.json','r') as f:
    data = json.load(f)

#creating a csv file

with open('playlist.csv','w', newline="") as f:
    writer = csv.DictWriter(f,fieldnames = ['title','artist','album','duration_sec']) 
    writer.writeheader()
    writer.writerows(data['tracks'])