### Git
hello = "hello"

In [3]:
"""
Our main agenda is to upload/push to Github

Steps before pushing
- git is initialised
     git init
-Stage our changes
   git add <argument>
   eg git add robot.ipynb

   #track all the file
   git add . 

-Taking the snashot with a label
   git commit -m 'First Commit'

-Uploading to GitHub
   internet must be present
    git push origin  <name of your branch>


git add remote origin <url>

 

"""

'hello'

### Python File I/O
Python's built in ways to opening/loading files. (Input and Output).

**open()** is the dedicated function in python to load files

...
Syntax:

open(filename, mode)
```

**Mode**
* `r` ---> read only
* 'W' ---> write only(If file exissts its overwritten else if not )
* 'r+' ---> read and write
* 'a' ----> append only(going to write new data at the end of the file without erasing existing)

In [2]:
#this is how we usually open our csv
import pandas as pd

pd.read_csv('./sample.csv').head()

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [1]:
import pandas as pd

pd.read_csv('./sample.csv').head()

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

## 'with'

This automatically opens and closes the file when using the open() function.

In [3]:
with open ('sample.csv','r') as f:
     print(f.read())

A,B,C,D,E
1,2,3,4,5
1,2,3,4,5
1,2,3,4,5

In [10]:
import csv

with open ('sample.csv') as f:
    reader = csv.DictReader(f)
    #
    for row in reader:
        print(row['Amsterdam'],row['Berlin'])

100 266
122 256
131 234

Create a new file and write to it

In [16]:
with open('cities.txt','w') as f:
    f.write('Dallas| Berlin |Copenhagen')

In [15]:
with open('cities.txt','w') as f:
    f.write('Dallas| London |Cairo')